    <div data-portfolio="a4j" class="inner">
        <!-- <span id="shadow"> -->
        <!-- </span> -->
        <div class="sans" id="close">
          <ul>
            <li data-id="intro">Introduction</li>
            <li data-id="idea">The Idea</li>
            <li data-id="role">My Role</li>
            <li data-id="technology">Technology</li>
            <li data-id="results">Results</li>
            <li data-id="close"><a href="#">Close</a></li>
          </ul>
        </div>
      <h1>The Original Template for Twitter Campaigns</h1>
      <div class="recognition">
        <div class="award sans"><span>Gold:</span> Digital Integrated Campaign, IDMA 2012</div>
        <div class="award sans"><span>Silver:</span> Best Use of Social Media, IDMA 2012</div>
        <div class="award sans">+ 10 Awards</div>
      </div>
      <img src="/img/portfolio/a4j/a4j-header.png" title="anything4jetta: India's Biggest Digital Car Launch" alt="anything4jetta: India's Biggest Digital Car Launch"/>
      <h2 data-section="intro" class="sans subhead">Give a man a fish&hellip;</h2>
      <p>I'm a motor head, and being entrusted with the creative direction of Volkswagen's digital activities (at GREY's Digital arm in Mumbai) was a lot of fun. In 2011, We were tasked with launching the all-new Volkswagen Jetta with a digitally-spearheaded integrated campaign: one that would create conversations about the car and significantly boost its perception and desirability.</p>
      <blockquote>The brains behind the largest twitter campaign for a brand ever in a single country, Aayush conceptualised and led Digital 360 initiative which included OOH activations, display advertising (including an ingenious twitter hack on a display property), web videos and an evocative HTML5 website. <span class="sans">Navin Kansal {ECD, Grey Mumbai}</span></blockquote>
      <p>To execute this, it was crucial to create a proposition that would thrill our audiences and entice them to participate. Social Media formed the primary channel for our campaign: one where our message and its reactions would define the campaign ideal, which was then translated via smart use of other digital channels to bolster conversations. We also augmented the campaign by use of Print, Tactical Outdoor and selected Television</p>
      <h2 data-section="idea" class="sans subhead">The Idea</h2>
      <div class="embed">
        <iframe src="http://player.vimeo.com/video/32892178?byline=0&amp;portrait=0&amp;color=f03838" width="640" height="512" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
      <p>To enthuse the spirit of participation, we devised a simple-yet-addictive challenge: Tell us what you’d do for the all-new Jetta. If the crowd likes your answer, you drive home with one.</p>
      <p>Twitter was our primary platform: users participated by adding the “anything4jetta” hashtag to their tweets. Very quickly, it became the next big trend to catch on to. It also instigated competition: “If you do #anything4jetta, I can do one better”.</p>
      <p>Our audiences could Tweet responses, or make a stronger case with a unique creation. A point system ensured that the process wasn’t chaotic: regular tweets scored two points, while pictures or video got a bonus. We further augmented participation by adding Voice and SMS (extremely critical in a nascent digital market). Users could text tweets or (for the first time ever), record tweet-clips on the phone.</p>
      <p>The campaign launched in the Times of India, supported with an interactive display campaign, and a Jetta was up for grabs.</p>
      <h2 data-section="role" class="sans subhead">My Role</h2>
      <p>I conceived the original campaign idea and led the creative direction for the website, seeded media and all digital extensions. After an initial prototype, I worked with the good people at <em>It's Alive</em> to execute the deliverables.</p>
      <h2 data-section="technology" class="sans subhead">Technology</h2>
      <p>Every element of our campaign converged on #anything4jetta, which herded responses across channels to increase user participation and scale. These were visualized via an elegant HTML5/CSS3 solution on www.anything4jetta.com.</p>
      <img src="/img/portfolio/a4j/a4j-map.png" title="anything4jetta: Campaign Visualization" alt="anything4jetta: Campaign Visualization"/>
      <p>The solution employed some creative uses of edge HTML5 components such as SVG and Canvas, in order to properly render and animate the tweet bubbles in the showcase. Custom animations were written from scratch for the bubbles, which floated around randomly, and were scaled when interacted with.</p>
      <p>And since the client absolutely <strong>insisted</strong> on display advertising, we hacked a way to Live Tweet from within a banner property (#anything4jetta was automatically appended). Tweet-Tracking banners introduced people to the campaign with real-time responses, and regular recognition kept the pace of the campaign consistent.</p>
      <h2 data-section="results" class="sans subhead">Houston, We Have Liftoff</h2>
      <p>anything4jetta became the most successful car launch in India almost instantly, and is still considered a benchmark against which social-media powered campaigns are measured.</p>
      <p>The campaign launched with the daily newspaper (at the break of dawn), and was <strong>trending within 20 minutes</strong>. A few hours in, #anything4jetta was trending #1, and <strong>by noon had broken records for social media campaigns in India</strong>. The campaign registered 2,75,000+ Tweets, was talked about in 200+ blogs and generated 10,00,000+ media impressions.</p>
      <p>With a <strong>peak activity of 3000+ Tweets/hour</strong> the campaign became a national movement, and triggered an increase in car sales by a massive 58% (stunning for a luxury brand).</p>
      <h2 class="sans subhead">Built With</h2>
      <ul>
        <li>Photoshop + Illustrator <span class="sans">{Design}</span></li>
        <li>HTML5 + CSS3 + Canvas <span class="sans">{Front-End}</span></li>
        <li>Worked with It's Alive for technical execution. Work done for GREY Mumbai <span class="sans">{Humans}</span></li>
      </ul>
      <p>Thanks for reading. This campaign serves as a great reminder that even the simplest thought, when executed right, can make a significant impact. Also, it was great to see an avalanche of Twitter campaigns spawn in its wake - imitation is indeed the most sincere form of flattery.</p>
    </div>
