    <div data-portfolio="about" class="inner">
        <!-- <span id="shadow"> -->
        <!-- </span> -->
        <div class="sans" id="close">
          <ul>
            <li data-id="close"><a href="#">Close</a></li>
          </ul>
        </div>
      <h1>That Guy. This Guy</h1>
      <p>Aayush Iyer does what's needed to solve problems using design, code, words &amp; thinking. With over 10 years of experience across advertising, product design and journalism, he brings empathy, critical thinking and cross-cultural insight to every situation.</p>
      <p>Before moving to Boulder, Colorado to attend the BDW program, he served as the Associate Creative Director at GREY's Digital arm in Mumbai, spearheading the efforts of brands like Volkswagen, Dell, Star TV, Allianz as well as new business pitches. Prior to this, he's worked with Ogilvy Mumbai, and also served as a product manager at zapak.com, architecting their online gaming property.</p>
      <img src="/img/resume.png" title="STATION IDENT" alt="STATION IDENT"/>
      <p>He can be reached by <a href="mailto:contact@aayushis.in">Email</a>, <a href="http://www.twitter.com/aayush">Twitter</a> and LinkedIn too.</p>
    </div>
