    <div data-portfolio="about" class="inner">
        <!-- <span id="shadow"> -->
        <!-- </span> -->
        <div class="mobileclose">
          <a href="#">&larr; back</a>
        </div>
        <div class="sans" id="close">
          <ul>
            <li data-id="aayush">Me</li>
            <li data-id="you">You</li>
            <li data-id="site">This Site</li>
            <li data-id="close"><a href="#">Close</a></li>
          </ul>
        </div>
      <!-- <h1>That Guy. This Guy</h1> -->
      <h2 data-section="aayush" class="sans subhead">This Guy</h2>
      <img src="/img/about/aandt.jpg" title="Me and Thrace" alt="Me and Thrace" class="floater-left" style="width: 50%; padding:0 20px 10px 0; float:left; max-width: 360px"/>
      <p>Hi. I&rsquo;m Aayush (<em>ah-you-shh</em>) Iyer.</p>
      <p>For work, I do what&rsquo;s needed to solve problems using design, code, words &amp; thinking. With over 8 years of experience with design: across advertising, journalism, photography and digital products, I aim to bring empathy, critical thinking and cross-cultural insight to every situation.</p>
      <span id="resdl">
        <a href="/img/AayushIyerResume.pdf" target="_blank" style="color: #2C3E50;">↓  Resume</a>
      </span>

      <p>More importantly, I&rsquo;m constantly trying to improve my vernaculars, and recognize my frame of reference / privilege, mitigate its effects and be a little better everyday. I care about intersectionality, and being an ally to marginalized voices. I&rsquo;m an avid fan of Jazz and cinema, sport a nearly-obsessive interest in Martial Arts.</p>

      <!-- <img src="/img/resume.png" title="STATION IDENT" alt="STATION IDENT"/> -->

      <p>In India, I&rsquo;ve worked in many different roles: I wrote about videogames, spent time in Product Management and eventually ended up in advertising. At the end, I served as the Associate Creative Director at GREY&rsquo;s Digital arm in Mumbai, spearheading the efforts of brands like Volkswagen and DELL, as well as new business pitches.</p>

      <p>After moving, I made the long-planned jump from advertising and communication to product, by launching <a href="http://www.aayushis.in/#piq">piq</a>, a jukebox for social spaces. While the Kickstarter <strong><a href="https://www.kickstarter.com/projects/piq/piq-a-jukebox-for-social-spaces">failed spectacularly</a></strong>, I&rsquo;ve learned much from it.</p>

      <p>Since then, I&rsquo;ve served as the product designer for a number of startups. I talk about my work (a lot).</p>

      <p>Having had experience working with different vernaculars (code, film, print), I value tools lesser than the processes used to solve problems. I might design with Sketch on one day, and spend another with XCode - whatever helps solve faster, and better.</p>

      <p>At some point in the future, I&rsquo;d love to have the time to make a personal style guide. For now, here it is: <span style="color:#F03838">#F03838</span>,<span style="color:#fce2e0">#FCE2E0</span>, <span style="color:#2c3e50">#2C3E50</span>, <span class="sans" style="color:#f03838"><em><a href="https://typekit.com/fonts/atrament-web">ATRAMENT WEB</a></em></span>, and <a style="color:black" href="https://typekit.com/fonts/ff-meta-serif-web-pro">Meta Serif Web Pro.</a></p>

      <h2 data-section="you" class="sans subhead">Let’s talk</h2>

      <p>I&rsquo;m looking for my next role: hit me up!</p>

      <p>Passion projects in certain disciplines matter immensely for me: if you&rsquo;re looking for design or product thinking and work with marginalized communities (QTs, POCs, Sex Workers to the front of the queue), I&rsquo;d love to chat. Similarly, I&rsquo;m always looking to give back, and actively volunteer and help with issues around education, access, mental health and labor rights.</p>

      <p>For all of this, I&rsquo;m easiest to reach by <a href="mailto:contact@aayushis.in">email</a> or <a href="http://www.twitter.com/aayush">Twitter</a>, and love chatting in person.</p>

      <h2 data-section="you" class="sans subhead">This Site</h2>
      <p>This site was designed and developed within a day, about a year ago. My coding skills were lesser then, but in spite of multiple reviews, I&rsquo;m quite happy with how it represents me.</p>
      <p>If you must know, it&rsquo;s mostly flat files, connected with a <em>Backbone.js</em> router for modular updates, and optimized at save with an off-the-shelf Grunt script. Of course, there are a few improvements in the pipeline for this site. Namely:</p>
      <ol>
        <li>Converting HTML partials to Markdown for easy edits</li>
        <li>A little more diversity in layout options for images</li>
        <li>PageSpeed optimizations - #1 being inline CSS for the first load</li>
        <li>HTTP Request optimizations</li>
      </ol>
      <p>I&rsquo;ll get to these someday. I like putting stuff away: so <a href="https://github.com/aayushpi/aayushisin-redux">here&rsquo;s the source for this website</a>: you&rsquo;re free to use any of the code in any way, shape or form. Good pull requests are most appreciated.</p>

    </div>
