    <div data-portfolio="about" class="inner">
        <!-- <span id="shadow"> -->
        <!-- </span> -->
        <div class="mobileclose">
          <a href="#">&larr; back</a>
        </div>
        <div class="sans" id="close">
          <ul>
            <li data-id="close"><a href="#">Close</a></li>
          </ul>
        </div>
      <h2 data-section="aayush" class="sans subhead">Hi</h2>
      <img src="img/about/aandt.jpg" class="floater-left" style="width: 50%; padding:0 0 40px 40px; float:right; max-width: 360px"/>
      <p>I&rsquo;m Aayush (<em>ah-you-shh</em>) Iyer.</p>
      <p>I&rsquo;m working at Twilio on building better products through design, and better design through systems.</p>
      <p>I care about helping people be their best selves, and being an ally to marginalized voices.I live in Oakland, CA with my two dogs: Thrace &amp; Tribbles.</p>

      <p>This site was designed in 2012, and is now <a href="https://github.com/aayushpi/aayushpi.github.io">open source</a>. It uses <span style="color:#F03838">#F03838</span>,<span style="color:#fce2e0">#FCE2E0</span>, <span style="color:#2c3e50">#2C3E50</span>, <span class="sans" style="color:#f03838"><em><a href="https://typekit.com/fonts/atrament-web">ATRAMENT WEB</a></em></span>, and <a style="color:black" href="https://typekit.com/fonts/ff-meta-serif-web-pro">Meta Serif Web Pro.</a></p>

      <h2 data-section="you" class="sans subhead">Let’s talk</h2>

      <p>I&rsquo;m here to listen and help your projects and efforts that support marginalized communities (QTs, POCs, Sex Workers), Immigrant Rights, and Mental Health. I&rsquo;d love to chat. Similarly, I&rsquo;m always looking to give back, and actively volunteer and help with issues around education, access, mental health and labor rights.</p>

      <p>For all of this, I&rsquo;m easiest to reach by <a href="mailto:contact@aayushis.in">email</a> or <a href="http://www.twitter.com/aayush">Twitter</a>, and love chatting in person.</p>

    </div>
