    <div data-portfolio="about" class="inner">
        <!-- <span id="shadow"> -->
        <!-- </span> -->
        <div class="mobileclose">
          <a href="#">&larr; back</a>
        </div>
        <div class="sans" id="close">
          <ul>
            <li data-id="read">Read</li>
            <li data-id="read">Seen</li>
            <li data-id="read">Played</li>
            <li data-id="close"><a href="#">Close</a></li>
          </ul>
        </div>
      <h1>A Working Collection</h1>
      <p>A mostly-incomplete list of <em>things</em> that I&rsquo;ve <em>recently</em> enjoyed. It&rsquo;s not comprehensive, but certainly prescriptive. Someday, I&rsquo;ll write little notes about why I like them too.</p>
      <h2 data-section="read" class="sans subhead">Well Read</h2>
      <ul>
        <li><span class="sans"><a href="https://www.worldcat.org/title/shape-of-design/oclc/795921995&referer=brief_results">The Shape of Design</a></span> - Frank Chimero</li>
        <li><span class="sans"><a href="https://www.worldcat.org/title/playing-the-whore-the-work-of-sex-work/oclc/871337934&referer=brief_results">Playing the Whore: The Work of Sex Work</a></span> -  Melissa Gira Grant</li>
        <li><span class="sans"><a href="https://www.worldcat.org/title/sex-criminals-volume-1-one-weird-trick/oclc/872984937&referer=brief_results">Sex Criminals Vol.1</a></span> -  Matt Fraction / Chip Zdarsky</li>
        <li><span class="sans"><a href="https://www.worldcat.org/title/infinite-city-a-san-francisco-atlas/oclc/606760530&referer=brief_results">Infinite City</a></span> -  Rebecca Solnit</li>
        <li><span class="sans"><a href="https://www.worldcat.org/title/one-more-thing-stories-and-other-stories/oclc/864789696&referer=brief_results">One More Thing</a></span> -  B.J Novak</li>
      </ul>
        <h2 data-section="seen" class="sans subhead">Well Seen</h2>
        <ul>
        <li><span class="sans"><a href="http://www.imdb.com/title/tt0464105/">Man Push Cart</a></span> - Ramin Bahrami</li>
      </ul>
      <h2 data-section="played" class="sans subhead">Well Played</h2>
      <ul>
      <li><span class="sans"><a href="http://fullbright.company/gonehome/">Gone Home</a></li>
        <li><span class="sans"><a href="http://www.stanleyparable.com/">The Stanley Parable</a></li>
      <li><span class="sans"><a href="http://www.dontstarvegame.com/">Don&rsquo;t Starve</a></li>
      </ul>

    </div>
