 <div data-portfolio="piq" class="inner portfolio">
        <!-- <span id="shadow"> -->
        <!-- </span> -->
        <div class="sans" id="close">
          <ul>
            <li data-id="intro">Introduction</li>
            <li data-id="role">My Role</li>
            <li data-id="process">Process</li>
            <li data-id="close"><a href="#">Close</a></li>
          </ul>
        </div>
      <h1>Messaging with intent {A work in progress}</h1>
      <a target="_blank" href="http://itunes.apple.com/us/app/todo-today-task-list-calendar/id898004872?mt=8&uo=4&at=1l3vpA6&ct=aayush"><img src="/img/portfolio/donext/intro.png" title="DoNext Component Library" alt="DoNext Component Library"/></a>
      <h2 data-section="intro" class="sans subhead">When you get past the small talk, <br />communication is always about intent.</h2>
      
      <p>We live our lives connected to more people than ever before. And quite often, these are occasional connections that happen across many disconnected channels. This makes finding time to engage with these connections harder than ever before.</p>

      <p>Or to put it a different way, there’s a difference between <strong>wanting to</strong> and making things happen (also known as the <a href=“http://www.thebolditalic.com/articles/3451-what-s-up-with-the-san-francisco-yes” target=“_blank”>San Francisco Yes</a>)</p>

      <p>On the surface, DoNext isn&rsquo;t related to it: after all, it looks and acts like a productivity app. However, by bringing elements that keep you on point from the productivity world (calendars, reminders, to-dos) and integrating it into a messaging system, it becomes a powerful (and accountable) way to make things happen: texting someone to &lsquo;get coffee&rsquo; is now instantly an event: every person&rsquo;s availability is checked, and then &rsquo;s added across calendars.</p>

      <p>DoNext has many, incredibly forward thinking ideas that are just about ready for release: intelligent automatic messaging if you&rsquo;re running late, talking to the Internet of Things, and much more. Stay tuned</p>

      <h2 data-section="role" class="sans subhead">My Role</h2>
      <p>I&rsquo;m the lead (<em>read: only</em>) product designer on DoNext, and thus my responsibilities include the app, marketing collateral and other visual assets. I&rsquo;m also involved in the day-to-day development of the web prototype, and often add hotfixes and even the occasional feature to the Sinatra backend. Recently, I&rsquo;ve also taken up a significant amount of responsibility in promoting and distributing the app. While this spread worries me for the inability to really dwell on something completely, I&rsquo;ve accepted it as a nature of doing what is most important.</p>
      <p>To mitigate risks and validate decisions, I also spend a lot of time prototyping and using analytics for insights: thus, I spend a lot of time implementing multi-variate tests via Mixpanel, Google Analytics and Ruby/JavaScript.</p>
      <h2 data-section="process" class="sans subhead">Designing <span style="text-transform:none">DoNext</span></h2>
      <p>DoNext has, admittedly, been a challenge to design around. It&rsquo;s been the first time that I don&rsquo;t set the sole (or even primary) voice of the brand: it started out as a tool for small-business owners, and has become a lot more consumer facing after multiple pivots. While designing the app, I&rsquo;m constantly respecting the time and extremely scarce resources we operate with: this often means that we don&rsquo;t (sadly) have the time to build custom controls, add meaningful animations (unless they&rsquo;re an extreme necessity) or double-down on the production of slick assets. Instead, my approach has been to create a modular, highly editable design system that I can go back to and change easily.</p>
      <img src="/img/portfolio/donext/componentlib.png" title="DoNext Component Library" alt="DoNext Component Library"/>
      <p>Most of DoNext is visually designed on Sketch: I create a component library that&rsquo;s constantly updated for 1x and 2x assets which contain every block of the app, in every possible state (highlighted, active, inactive, error... the works). This allows for the components themselves to be constantly updated as needed without requiring big redesign or refactor sprints.</p>
      <p>Before an idea is committed to Sketch though, there&rsquo;s a significant amount of prototyping involved: I usually do this via Marvel (while testing for flow) or Quartz Composer (while testing for fidelity).</p>
      <p>In general, I like to expose ideas early and often: however, for a number of reasons, this was not possible with DoNext: my strategy then involved using a large number of events stored to capture user states and transitions (this was done via Mixpanel), and creating targeted email notifications to verify if users understood the system. I also helped implement a progressive reduction on the UI where features resolved to their final look after users completely understood the flow and intention of each action.</p>
      <h2 class="sans subhead">Being Built With</h2>
      <ul>
        <li>Sketch + Illustrator + PaintCode + Photoshop <span class="sans">{Design}</span></li>
        <li>Ruby + Sinatra + PostgreSQL <span class="sans">{Development}</span></li>
        <li>Xcode + Quartz Composer + Pixate + Marvel <span class="sans">{Prototyping}</span></li>
      </ul>
      <p>DoNext is a work in progress that gets better with every release. <a href="http://itunes.apple.com/us/app/todo-today-task-list-calendar/id898004872?mt=8&uo=4&at=1l3vpA6&ct=aayush">Give it a try</a>, then let&rsquo;s talk.</p>
    </div>
