 <div data-portfolio="intro" class="inner portfolio">
        <!-- <span id="shadow"> -->
        <!-- </span> -->
        <div class="mobileclose">
          <a href="#">&larr; back</a>
        </div>
        <div class="sans" id="close">
          <ul>
            <li data-id="intro">Introduction</li>
            <li data-id="role">My Role</li>
            <li data-id="process">Process</li>
            <li data-id="close"><a href="#">Close</a></li>
          </ul>
        </div>
      <h1>Your network is your secret sauce</h1>
      <img src="/img/portfolio/intro/intro.png" title="Intro" alt="Intro"/></a>
      <h2 data-section="intro" class="sans subhead">Reach the people you need, <br />through people you trust.</h2>
      
      <p>It’s plainly obvious that we live in a hyper-connected world: a glance at my own social profile says that I have over a 1000 “friends” on Facebook, and about twice the amount of connections on LinkedIn. If you consider the Dunbar number, that’s well past the <em>“I can put a face to a name”</em> stage.</p>

      <p>Though this is an unmanageable number, there’s incredible value in a connected network: through it we build relationships, opportunities and ever-improving chances of success. Your network <strong>is the capital you’ve accrued through years of being the best you</strong>.</p>

      <p>Yet, our tools to traverse or process this network are still stuck in the dark ages: they remain a <em>list</em> of faces, peppered with contact information. There’s a lot of data, <em>but no real insight</em>.</p>

      <img src="/img/portfolio/intro/flow.png" style="width: 50%; padding:0 20px 10px 0; float:left" title="Intro flow" alt="Intro"/></a>
      
      <p>At Intro, we set out to find a better way to harness this incredible network. The Intro iOS app is the first step in this direction. It serves a simple purpose: find an elegant, unobtrusive way to connect people within your network.</p>

      <p><em>Prima facie</em>, this may seem like a trivial problem to solve, but a good Intro goes beyond sending an email to two people. As <em>Roy Bahat</em> articulated, <a target="_blank" href="http://also.roybahat.com/post/92544681186/introductions-and-the-forward-intro-email">a good Intro is a work of craft and effort</a>.</p>

      <p>The app’s designed, from the outset, to make the best intro possible: by pre-filling suggested headlines, making it slick and easy to add social and web links, and also remembering what you’ve previously said about someone.</p>

      <img src="/img/portfolio/intro/blind.png" title="Opt-in Intros" alt="Opt-in Intros"/></a>

      <p>Crucially, Intro also takes on the laborious task of opt-in Intros: sending messages anonymously to parties, asking if they wish to be connected. What once required multiple email threads and constant editing is now done in a single flow.</p>



      
      <h2 data-section="role" class="sans subhead">My Role</h2>

      <p>As the design lead for Intro, I’ve defined the way the product works and feels. Thus, a lot of my time is spent working on Intro’s two key segments: the iOS app, and the web-playground where new ideas are prototyped.</p>

      <p>The iOS app is where ideas that are further in our validation process are implemented: this involves defining how the product works, the spatial and transitional models used for the app, UI details and micro-copy. The latter’s <strong>especially important</strong> with Intro: users care about how their emails are sent, and the UI needs to establish confidence so they can make Intros comfortably.</p>

      <p>For the web playground, I focused more on implementing our hypotheses as quickly as possible: building wireframes directly on a bootstrap and working with real data to see what patterns emerge.</p>

      <p>Together, it’s a satisfying tick-tock of product design: envisioning what’s possible, and making something that works, <em>work great</em>.</p>

      <p>And of course, like any early stage startup: you wear multiple hats. I did the same by defining product analytics, crafting decks for fundraising, setting up marketing websites and much more.</p>

      <h2 data-section="process" class="sans subhead">Building Intro</h2>
      
      <p>Defining the visual system of a product (or in this case, a network) that’s pregnant with possibility is a significant challenge: as a designer, you want the product to feel polished, but you <strong>need</strong> to make the system work just as well with future enhancements.</p>

      <img src="/img/portfolio/intro/cardsystem.png" title="Intro Card System" alt="Intro Card System"/></a>

      <p>To do this, I designed Intro to work with a card-based interactional model. This worked especially well because cards allow for different content types to live within a specific context. This allowed us to define an Intro feed, where each communication could exist independently.</p>

      <img src="/img/portfolio/intro/contacts.png" title="Contact Selection" alt="Contact Selection"/></a>


      <img src="/img/portfolio/intro/composition.png" style="width: 50%; float: left; padding: 0 20px 10px 0;" title="Intro composition" alt="Intro composition"/></a>

      <p>Account permissions are crucial to make Intro happen. Given that we’re asking for people to share access to their email, we led them through an on-boarding process that eased privacy concerns and sold them on the potential of a great Intro.</p>

      <p>Intro optimized crafting the introduction email, which meant a special and deliberate care taken while building the process to pick connections and the composer to write the actual contents. This included clear messaging to let one know that they’re performing an opt-in Intro and easy templates for repeated Intros.</p>

      <p>Since Intro’s a small team, the build itself was a really lean process. We used a single Invision file to track files iterating from a wireframe state to a <em>final</em> version (which tends to be a moving target). At a good point in between, this file moved to Zeplin for implementation to keep things moving along.</p>

      <p>When required, animations and transitions were prototyped in Origami, with code exports and videos used to define implementation.</p>
      
      <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed//x5EiiojnBWs' frameborder='0' allowfullscreen></iframe></div>
      
      <p>Similar to my work at DoNext, I built Intro with a component library in mind. This library had a significant evolution in development, and hence was far more stateless and easy to implement, off-the bat. Type sizes (and adjustments) were also defined as set-styles to make defined cards easy to build. This led to a surprising increase in fidelity while prototyping new ideas: it was possible to build blocks that look like a part of the final product early on (without requiring the extra time).</p>

      <p>The component library gave a great top-level view of Intro’s product and design language, and made it easy to zoom in and make specific changes at will.</p>

      <p>It’s early days yet for Intro, but the foundations are strong to try a promising number of hypotheses quickly and correctly. Drop me an <a href="mailto:contact@aayushis.in">email</a> if you’d like to try it out.</p>

      <h2 class="sans subhead">Being Built With</h2>
      <ul>
        <li>Sketch + Illustrator + Photoshop <span class="sans">{Design}</span></li>
        <li>jQuery + Bootstrap <span class="sans">{Web Prototype}</span></li>
        <li>Xcode + Quartz Composer + Invision <span class="sans">{Design Prototyping}</span></li>
      </ul>
    </div>
