    <div data-portfolio="nike" class="inner">
        <!-- <span id="shadow"> -->
        <!-- </span> -->
        <div class="sans" id="close">
          <ul>
            <li data-id="intro">Introduction</li>
            <li data-id="role">My Role</li>
            <li data-id="idea">The Idea</li>
            <li data-id="close"><a href="#">Close</a></li>
          </ul>
        </div>
      <h1>Powered by Pride: A Platform for the 2014 FIFA World Cup, conceived in a 10 hour sprint</h1>
      <img src="/img/portfolio/nike/nike-header.jpg" title="Nike: Powered by Pride" alt="Nike: Powered by Pride"/>
      <p>We received a brief for the BDW Book Lab that said the following:</p>
      <h2 data-section="intro" class="sans subhead">Craft an experience using Multiple Technologies/and touch points worthy of Nike.</h2>
      <p>Obviously, this excited us... a lot. We love playing with technology - and imagining a compelling experience for the mediums of tomorrow was a fascinating challenge. 
      <h2 class="sans subhead">But then we stepped back, and asked a far more important question: What’s the problem?</h2>
      <p>Nike’s an impressive brand - one that can create movements and demonstrate the power of a truly energized collective - something that few brands have the capacity to accomplish. Using this pedigree to create just an awesome tech demo seemed a little... feeble.</p>
      <p>Instead, we looked to technology that everyone’s familiar with, and tried to connect the global consciousness into one breathtaking platform.</p>
      <img src="/img/portfolio/nike/nike-phone.png" title="A platform that goes with you" alt="A platform that goes with you"/>
      <p>We love <del>football</del> soccer. It’s a wonderful connector of the world, and a sport that truly is as unencumbered as it gets. It has great vernaculars and instantly invokes many meanings - from the much adored/hated Vuvuzelas, to the sheer intensity and pride of English Football gangs - the game is flush with culture and emotion.</p>
      <p>Obviously, this is going to result in an explosion of conversation unlike any other. And digital platforms are in a unique space where every fragment of this conversation can be captured. Pieced together, it’s a truly staggering picture… one that hasn’t been captured yet.</p>
      <p>And that seemed like a far better solve for the brief.</p>
      <h2 data-section="role" class="sans subhead">10 Hours? Sweet. What did you do?</h2>
      <p>I was responsible for the Strategy, Creative Concept and Visual Execution of the project - though you could argue that in a 10 hour sprint, <strong>you’re mostly doing everything</strong>.</p>
      <h2 class="sans subhead">What is the Platform?</h2>
      <p>We imagined a platform owned by Nike for the 2014 FIFA World Cup - one that’s as wide as the love for the game itself, and intertwines the emotion, intensity and people into something far greater.</p>
      <img src="/img/portfolio/nike/nike-platform.png" title="The Platform starts with a choice" alt="The Platform starts with a choice"/>
      <p>To do this, we looked into the psyche of the International Football Fan. Almost immediately, patterns began to emerge. We interviewed Soccer fans, and casual viewers of the World Cup, and could see that every fan followed a team for specific reasons. You were either born into a Soccer loving family, rooted for your favourite country, simply followed a player who kicked ass or perhaps even liked a certain style - say The Dutch Total Football game: and once this allegiance was defined, you’re not likely to move away from it. These allegiances came with natural rivalries, chants, cheers - every human emotion was uniquely represented.</p>
      <p>Our platform accounted for it: we called it “Powered by Pride”</p>
      <h2 data-section="idea" class="sans subhead">Powered by Pride</h2>
      <p>Our platform captured every intent of users - Tweets, Cheers, Audio Clips and Video for the duration of the event, and translated it into experiences of delight, utility and joy for fans across physical and digital touchpoints.</p>
      <p>The platform starts on the most ubiquitous device: a mobile phone. From the beginning, you’re invited to set your allegiance and show your colors.</p>
      <p>The app wasn’t just a pretty interface though - to be a strong platform, it would serve as a companion for the World Cup - arming you with stats, trivia and context about every game and then some. Given Nike’s immense presence and distribution platform, a well planned seed of the app would reach our audiences comfortably. And that’s when the platform’s interesting translations could come out and shine.</p>
      <p>For example, if you’re in Munich and are (obviously) a German supporter - you could find a bar that’s showing your favorite game and is clear of pesky Dutch fans (or if you fancy rousing crowds, is packed with them).</p>
      <img src="/img/portfolio/nike/nike-finder.png" title="Platform Translation that helps you find a good place to watch" alt="Platform Translation that helps you find a good place to watch"/>
      <p>We also imagined other translations of this data - an iPad app that allowed you to see the state-of-the-world through the lens of your favorite teams:</p>
      <img src="/img/portfolio/nike/nike-ipad.png" title="A Platform Visualization" alt="A Platform Visualization"/>
      <p>Or a Kinect-powered digital wall that looked at your team’s history and allowed for some interesting social interactions with friends of the same allegiance (or rivals).</p>
      <div class="embed">
        <iframe width="640" height="360" src="http://www.youtube.com/embed/Nn4GzzIG2_s?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
      </div>
      <h2 class="sans subhead">Built With</h2>
      <ul>
        <li>Photoshop + Illustrator + After Effects <span class="sans">{Design}</span></li>
        <li>Kinect SDK + HTML5 + CSS <span class="sans">{Prototype}</span></li>
        <li>Morgan Keys, Cassandra Thill, Matt Flesher &amp; Nathan Beekman <span class="sans">{Humans}</span></li>
      </ul>
      <p>Thanks for reading. This is a concept of course, but when realized (and it's perfectly practical to assume so), it becomes an ecosystem that recognizes (and brings to light) the intensity of the game, the exuberance of its moments and the passion of its citizens.</p>
    </div>


