 <div data-portfolio="piq" class="inner portfolio">
        <!-- <span id="shadow"> -->
        <!-- </span> -->
        <div class="sans" id="close">
          <ul>
            <li data-id="intro">Introduction</li>
            <li data-id="role">My Role</li>
            <li data-id="process">What + Process</li>
            <li data-id="design">Branding + Design</li>
            <li data-id="media">Media</li>
            <li data-id="close"><a href="#">Close</a></li>
          </ul>
        </div>
      <h1>I walked into a party one day, and the music sucked.</h1>
      <div class="recognition">
        <div class="award sans"><span>Winner:</span> BDW PitchFest 2013</div>
      </div>
      <img src="/img/portfolio/piq/piq-header.jpg" title="piq: a jukebox for social spaces" alt="piq: a jukebox for social spaces"/>
      <h2 data-section="intro" class="sans subhead">piq is the next generation of jukeboxes - a hardware device that went from inception to realization in just three months.</h2>
      <p>You <del>rarely</del> never have control of music in a social setting. At the very best, it's a <em>benevolent dictatorship</em>. At BDW's Startup class, we decided to break free of this sonic tyranny and herald the arrival of a music democracy.</p>
      <img src="/img/portfolio/piq/piq-diagram.png" title="The piq experience" alt="The piq experience"/>
      <p>And that’s why we built <strong>piq: a jukebox for social spaces</strong> - an experience that <del>allowed</del> empowered you to control what’s playing: at home/on-the-road/ at work/in a coffee shop/in a bar.</p>
      <blockquote>It was time to break free of this sonic tyranny: it was time for a music democracy.</blockquote>
      <h2 data-section="role" class="sans subhead">My Role</h2>
      <p>I designed &amp; developed the original piq prototype in a sixteen-hour sprint that involved Caffeine, more Caffeine, <em>jQuery Mobile</em> &amp; a <em>Raspberry PI</em>.</p>
      <p>Once we decided to make a business out of it, I took on the role of CEO and focused on the Business Development, Visual Design and Marketing of piq. Of course, as is the case in any startup, <strong>you have to do everything</strong>. I've talked about my <a href="https://medium.com/design-startups/a12142e9ab28">experiences running piq in a post on Medium</a>.</p>
      <h2 data-section="process" class="sans subhead">The Pitch - What is piq? How did you build it?</h2>
      <p>piq is a jukebox for social spaces: a democratic way for anyone to have a say in what plays in the space around you. The tiny $99 hardware device was the first articulation of this idea - connect it to your speakers and a music source of your choice, and you instantly have a crowd-powered jukebox (controlled by web apps for a phone/tablet/PC): one that connects social spaces tightly.</p>
      <p>We operated piq on three key principles:</p>
      <ol>
        <li>Don’t build anything unless you have to.</li>
        <li>When in doubt, ask the customer. When not in doubt, ask anyway.</li>
        <li>Run lean, run agile but more than anything else, run.</li>
      </ol>
      <img src="/img/portfolio/piq/piq-prototype_evolution.jpg" title="The evolution of piq's prototypes" alt="The evolution of piq's prototypes"/>
      <p>Creating hardware is tough - especially in a three month timeframe, and this helped us value every decision and task undertaken. This quickly defined piq’s strategy, as we created the barest of prototypes and put them in front of potential customers, allowing them to <em>imagine the product in their context</em>.</p>
      <p>From this, we observed patterns that allowed us to build faster, better, and in much less time. It also gave us a following, as <strong>3 sales, 11 installed units, 20 live demos and 500 users</strong> guided piq to its launch state.</p>
      <h2 data-section="design" class="sans subhead">Branding &amp; Design</h2>
      <p>piq is an articulation of the essential human yearnings of empowerment (control of music), community (a shared musical experience) and delight (a bloody good song). piq's brand reflected the same.</p>
      <img src="/img/portfolio/piq/piq-brand_cards.jpg" title="The piq Brand + Brand Signal" alt="The piq Brand + Brand Signal"/>
      <p>The name is obviously derived from "pick", the essential act of empowerment, and queues - the familiar context of a jukebox. Paired together, it made a brand that looked suspiciously like two people sharing an experience… which was what we were all about.</p>
      <p>The name also provided a memorable, disruptive industrial design which clearly differentiated from an army of Apple TV clones. After multiple prototypes sketched, rendered and 3D Printed, the final form factor was designed to be built with a plastic-injection moulded treatment, it instantly reminded people of a music device and served as a powerful indicator that <em>you can choose what plays here</em>.</p>
      <img src="/img/portfolio/piq/piq_hardware_prototyping.jpg" title="piq's Industrial Design Evolution" alt="piq's Industrial Design Evolution"/>
      <p>The color ways also informed the visual design, allowing for a consistent, unique color palette that emphasized simplicity and high information entropy.</p>
      <img src="/img/portfolio/piq/piq_ui.png" title="piq's User Interface" alt="piq's User Interface"/>
      <h2 data-section="media" class="sans subhead">Represent</h2>
      <p>I presented piq at a number of events in the Denver area, including Boulder NewTech, a gathering of 400+ people across startups, providers and tech/design enthusiasts. It was eventually presented at BDW's PitchFest and adjudged the winner for the year. Keep a lookout for my varying degrees of facial hair too.</p>
      <h2 class="sans subhead">Boulder NewTech {400 people, lots of laughs}</h2>
      <div class="embed">
        <iframe width="640" height="360" src="http://www.youtube.com/embed/eIMHxpT_cjc?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
      </div>
      <h2 class="sans subhead">BDW PitchFest {Adjudged winner}</h2>
      <div class="embed">
        <iframe src="http://player.vimeo.com/video/67729210?byline=0&amp;portrait=0&amp;color=f03838" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
      <h2 class="sans subhead">Kickstarter {Cool Moustache}</h2>
      <div class="embed">
        <iframe width="640" height="390" src="http://www.youtube.com/embed/gPTme34F5Uw" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>piq <a href="http://www.kickstarter.com/projects/piq/piq-a-jukebox-for-social-spaces">launched on Kickstarter</a> but unfortunately failed to raise the target amount. It continues to take our weekends, since the message of music democracy is totally worth the effort and time. Like any good performance, we'll be back for an encore. <a href="http://www.dailycamera.com/topbusinessstories/ci_23210177/5-questions-piq-ceo-aayush-iyer">I did score some sweet press though.</a></p>
      <h2 class="sans subhead">Built With</h2>
      <ul>
        <li>Photoshop + Illustrator <span class="sans">{Design}</span></li>
        <li>jQuery Mobile + Raspberry Pi + LibSpotify  <span class="sans">{Prototype}</span></li>
        <li>Symfony + Ruby + AngularJS + Raspberry Pi <span class="sans">{Production Ready}</span></li>
        <li>Blender + SolidWorks <span class="sans">{Industrial Design}</span></li>
        <li>Premier Pro + After Effects <span class="sans">{Film}</span></li>
        <li>Matt Flesher &amp; Grant Sprunger <span class="sans">{Humans}</span></li>
      </ul>
      <p>Thanks for reading.</p>
    </div>

