 <div data-portfolio="suave" class="inner portfolio">
        <!-- <span id="shadow"> -->
        <!-- </span> -->
        <div class="sans" id="close">
          <ul>
            <li data-id="intro">Introduction</li>
            <li data-id="idea">The Idea</li>
            <li data-id="implementation">Implementation</li>
            <li data-id="role">My Role</li>
            <li data-id="close"><a href="#">Close</a></li>
          </ul>
        </div>
      <h1>Reinventing Suave with a purpose</h1>
      <img src="/img/portfolio/suave/suave-header.jpg" title="A Suave Reinvention" alt="A Suave Reinvention"/>
      <p>Identity Credit: Matt Sobieray</p>
      <h2 data-section="intro" class="sans subhead">An intentional reinvention of a ubiquitous brand</h2>
      <p>When tasked to redefine the destiny of a brand (with a social slant), we chose to do more than <em>just a visual refresh</em>. Instead, we articulated Suave as a platform that actively develops a responsible, considered use of water.</p>
      <p>Most campaigns to save water are an exercise in guilt. As humans, we can be very wasteful&hellip; but in the right context, we're capable of great things. We endure many challenges, stresses and hardships, and the last thing you want to hear at the end of it is that your last beacon of solace: a long shower is ruining the world.</p>
      <img src="/img/portfolio/suave/suave-stat.jpg" title="The Statistic" alt="The Statistic"/>
      <p><em>Paul Graham</em> talks about <strong>The Top Idea In Your Mind</strong> by simply saying:</p>
      <blockquote>[...] I'd say it's hard to do a really good job on anything you don't think about in the shower.</blockquote>
      <p>Showers cleanse, destress your ails from the day gone by and importantly, incubate your best ideas. There's something about the isolation that makes your mind truly lose inhibition and run wild. Quickly then, we realized that this is important, and more importantly: this is worth saving. <em>Also, where else can one sing?</em></p>
      <h2 data-section="idea" class="sans subhead">Save The Shower, One Shower at a Time</h2>
      <p>Instead of plaguing participants with guilt, we challenged them to make tiny changes to their habits. These changes were made tangible with a unique platform centered around responsible water usage. <em>It's like carbon credits, but far more humanized.</em> To do this, we began by defining a unit system, where the base was the length of an average shower (8.2 minutes // 17.2 gallons).</p>
      <img src="/img/portfolio/suave/suave-index.jpg" title="The System" alt="The System"/>
      <p>Once defined, this became a system that everyone tries to beat: shave a few seconds off your daily shower and you gaine a point. It's an honor system of course, but it&rsquo;s an addictive one. And by saving a minute every day, the participant feels a lot better to take that extended shower when it's really needed.</p>
      <div class="embed">
        <script async class="speakerdeck-embed" data-id="6fe15e70d88d0130fd524aa4e1e38476" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
      </div>
      <h2 data-section="implementation" class="sans subhead">Implementation</h2>
      <p>A numeric system looks great - but probably isn't as effective while you're in the shower. Which is why we turned to music. To implement and serve as a catalyst towards responsible water use, we then harnessed a shower's quintessential companion - <strong>the song</strong>.</p>
      <p>An app that&rsquo;s powered by Spotify (or any popular music service) served an essential compilation of shower AND water friendly songs, which would incentivize participants to enjoy the luxury of a good crooning that's still under the average shower limit.</p>
      <img src="/img/portfolio/suave/suave-app.jpg" title="The App" alt="The App"/>
      <p>And if that wasn&rsquo;t enough, we encouraged the user with an on-demand infographic that encapsulated their savings, music and thoughts: a state-of-the-shower, if you will</p>
      <img src="/img/portfolio/suave/suave-info.jpg" title="The Infographic" alt="The App"/>
      <h2 data-section="role" class="sans subhead">My Role</h2>
      <p>I was responsible for the concept and visual definition of the idea (including its translation to an app and infographic).</p>
      <h2 class="sans subhead">Built With</h2>
      <ul>
        <li>Photoshop + Illustrator <span class="sans">{Design}</span></li>
        <li>Cassie Thill, Matt Sobieray<span class="sans">{Humans}</span></li>
      </ul>
      <p>Thanks for reading. Be Water, My Friend.</p>
    </div>


