    <div data-portfolio="tsi" class="inner">
        <!-- <span id="shadow"> -->
        <!-- </span> -->
        <div class="sans" id="close">
          <ul>
            <li data-id="intro">Introduction</li>
            <li data-id="idea">The Idea</li>
            <li data-id="role">My Role</li>
            <li data-id="process">The Process</li>
            <li data-id="results">Results</li>
            <li data-id="close"><a href="#">Close</a></li>
          </ul>
        </div>
      <h1>An Unexpected Test-Drive on YouTube</h1>
      <div class="recognition">
        <div class="award sans"><span>Silver:</span> Best Use of Video, Campaign Crest 2013</div>
      </div>
      <img src="/img/portfolio/tsi/tsi-header.png" title="anything4jetta: India's Biggest Digital Car Launch" alt="anything4jetta: India's Biggest Digital Car Launch"/>
      <h2 data-section="intro" class="sans subhead">In India,test-drives are an exercise in timidity. This was the fix</h2>
      <p>Volkswagen gave us a fitting challenge in the beginning of 2012: amidst rising (<em>and frankly, ridiculous</em>) prices, we were tasked with launching the Petrol variant of the Jetta. Expectations were also amplified since this was the first follow-up to the anything4jetta campaign, which was very well received.</p>
      <p>Our objective was, on the face of it, fairly simple: get people to book a Test-Drive to the car. But as is always the case, the truth is a lot more interesting (and complex). India’s a unique car market - people buy cars for the long haul: it’s an object of extreme durability, and is cared for almost obsessively. However, in spite of it being a significant commitment of time, emotion and money, the test-drive experience is an exercise in timidity.</p>
      <blockquote>India's first ever direct video response campaign was Aayush's brainchild. Housed on a Youtube custom gadget, the campaign became the hub around which conventional advertising also converged. He scripted most of the videos and was also involved in the production and post production of the same.<span class="sans">Navin Kansal {ECD, Grey Mumbai}</span></blockquote>
      <p>Either by cultural/societal bias, or simply because no precedent has been set, most test-drives involve a slow, overly careful spin around a block and a few trivial questions about the car itself.</p>
      <p>We saw an opportunity to make a change, and bring some excitement into the process of selection, by creating a genuinely fun campaign that allowed users to let go of their inhibitions and test out the car (as well as the brand).</p>
      <h2 data-section="idea" class="sans subhead">What if we allowed users to be truly uninhibited, and test drive the car from the comfort of their screens?</h2>
      <div class="embed">
        <iframe src="http://player.vimeo.com/video/55371065?byline=0&amp;portrait=0&amp;color=f03838" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
      <p>It all started with a simple idea: What if we allowed users to be truly uninhibited, and test drive the car from the comfort of their screens? Thus, the YouTube test-drive was born: ask a question, any question about the Jetta TSI, and you’ll find an answer (but perhaps not the one you expected).</p>
      <p>To do so, we pre-seeded 10 videos and launched a HTML5 YouTube property that allowed users to log questions, and view the answers as soon as they were made available. Behind the screen, an <del>army of copywriters</del> myself and two brave followers waited for every new question: caffeinated, pencils sharpened and wit tempered. Scripts to questions were written - some quick, others elaborate and some simply outrageous - that answered every question: no matter how good or bad.</p>
      <div class="embed">
        <iframe width="640" height="360" src="//www.youtube.com/embed/videoseries?list=PLQYDg8gqyivLIq3SY7LVr8uft_IktXowH" frameborder="0" allowfullscreen></iframe>
      </div>
      <h2 data-section="role" class="sans subhead">My Role</h2>
      <p>I conceived the creative thought for the campaign, defined the aesthetic look of the site and wrote a majority of its films. Once prototyped, we worked with the teams at <em>Bombay Works</em> and <em>Google India</em> to bring it to life.</p>
      <h2 data-section="process" class="sans subhead">The Process</h2>
      <img src="/img/portfolio/tsi/tsi-prototypes.jpg" title="The YouTube Test-Drive Prototypes" alt="The YouTube Test-Drive Prototypes"/>
      <p>The Jetta TSI was my first attempt at <em>rapid-prototyping a campaign</em>. Instead of simply selling the idea of a campaign, we found the most glamorous account director at GREY, a spare Volkswagen and a Canon 5D to shoot a spec ad, and then took the client through the user journey of asking a question, and receiving a video response.</p>
      <p>The prototyping session helped immensely: we knew instantly that we would be inundated by the crowd, and this helped us arm ourselves with tools to mitigate repeated questions, trolls and spam.</p>
      <p>Once approved, we sealed our fate for the next three months - days and nights spent crafting the Front-end experience, finding the right actor (<em>30% Jeremy Clarkson, 30% David Caruso, 40% Richard Branson</em>… we eventually settled), creating an interesting story arc for the campaign featuring a singular narrator, tone-of-voice and an army of disposable extras aptly uniformed <em>INTERN</em>.</p>
      <h2 data-section="results" class="sans subhead">All leading to this&hellip;</h2>
      <p>The YouTube Test-Drive was a critical hit, and once again broke new ground in digital car launches. 750,000+ unique test-drives (that's about <strong>450,000 hours</strong> of video viewed) and 517 video responses shot the Jetta TSI into the spotlight, trigger a stunning 1200% increase in real-world test-drives.</p>
      <h2 class="sans subhead">Built With</h2>
      <ul>
        <li>Photoshop + Illustrator <span class="sans">{Design}</span></li>
        <li>HTML5 + CSS3 + Canvas <span class="sans">{Front-End}</span></li>
        <li>Worked with Bombay Works + Google for technology. Work done for GREY Mumbai <span class="sans">{Humans}</span></li>
      </ul>
      <p>Thanks for reading. I hope you spotted my cameos.</p>
    </div>
