 <div data-portfolio="vouch" class="inner portfolio">
  <div class="mobileclose">
    <a href="#">&larr; back</a>
  </div>
  <div class="sans" id="close">
    <ul>
      <li data-id="intro">Introduction</li>
      <li data-id="role">My Role</li>
      <li data-id="process">Process</li>
      <li data-id="close"><a href="#">Close</a></li>
    </ul>
  </div>
      <h1>Designing for growth</h1>
      <img src="/img/portfolio/vouch/intro.jpg" title="Vouch" alt="Vouch"/>
      <h2 data-section="intro" class="sans subhead">A financial safety-net held by those you trust</h2>
      <p>Vouch&rsquo;s mission began with trying to understand what value and identity really mean, from a financial perspective. When we say “You&rsquo;re more than just your credit score”, it implies the value you&rsquo;ve built through relationships nurtured at home, at work and everywhere else. By factoring these in our lending philosophy, Vouch allows a whole new, previously underserved, community with an opportunity to access low-cost credit.</p>
      <p>Vouch&rsquo;s first articulation of this vision is a personal loan experience where your application is augmented with the help of <em>sponsors</em>: people you trust that back your credit worthiness by vouching for you: socially, or monetarily. By adding a sponsor, <a href="https://www.youtube.com/watch?v=BBO1_XBrbzQ" target="_blank">everyone wins</a>: borrowers gain access to larger loan amounts, lower credit &amp; longer terms; Vouch gets additional safeguards against delinquency and fraud; and sponsors&hellip; well, they feel great about articulating their trust (and, there&rsquo;s something to be said about paying it forward too: over a third of all sponsors on Vouch come back and apply for a loan themselves).</p>
      <p>And while this is all well and good, change is always difficult: especially in something as entrenched as the lending experience. There&rsquo;s a huge risk of people feeling uncomfortable with including others in their financial matters, or even adding extra steps in an established user funnel. This makes design at Vouch pretty exciting: in addition to metrics and opportunities in the FinTech space, we also consider many social and consumer opportunities.</p>
      <h2 data-section="role" class="sans subhead">Designing for Growth</h2>
      <p>Vouch invited me to their product design team, tasked with spearheading their growth efforts. This was exciting in a number of ways — it provided great agency to go up and down the funnel as opportunities presented themselves, and allowed me to use, hone and sharpen my faculties in design, development and data-science. Working on growth also allowed for a unique design perspective: focused on metrics.</p>


      <div class="embed">
        <script async class="speakerdeck-embed" data-id="6fe15e70d88d0130fd524aa4e1e38476" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
      </div>
      <h2 data-section="implementation" class="sans subhead">Implementation</h2>
      <p>A numeric system looks great - but probably isn't as effective while you're in the shower. Which is why we turned to music. To implement and serve as a catalyst towards responsible water use, we then harnessed a shower's quintessential companion - <strong>the song</strong>.</p>
      <p>An app that&rsquo;s powered by Spotify (or any popular music service) served an essential compilation of shower AND water friendly songs, which would incentivize participants to enjoy the luxury of a good crooning that's still under the average shower limit.</p>
      <img src="/img/portfolio/suave/suave-app.jpg" title="The App" alt="The App"/>
      <p>And if that wasn&rsquo;t enough, we encouraged the user with an on-demand infographic that encapsulated their savings, music and thoughts: a state-of-the-shower, if you will</p>
      <img src="/img/portfolio/suave/suave-info.jpg" title="The Infographic" alt="The App"/>
      <h2 data-section="role" class="sans subhead">My Role</h2>
      <p>I was responsible for the concept and visual definition of the idea (including its translation to an app and infographic).</p>
      <h2 class="sans subhead">Built With</h2>
      <ul>
        <li>Sketch <span class="sans">{Design}</span></li>
        <li>Backbone, CoffeeScript, React <span class="sans">{Front-End}</span></li>
        <li>Rails <span class="sans">{Back-End}</span></li>
        <li>Looker, Mixpanel <span class="sans">{Data}</span></li>
      </ul>
      <p>Thanks for reading. Be Water, My Friend.</p>
    </div>
