 <div data-portfolio="vouch" class="inner portfolio">
  <div class="mobileclose">
    <a href="#">&larr; back</a>
  </div>
  <div class="sans" id="close">
    <ul>
      <li data-id="intro">Introduction</li>
      <li data-id="work">My Work</li>
      <li data-id="experiments">Still Brewing</li>
      <li data-id="admin">Admin Design</li>
      <li data-id="close"><a href="#">Close</a></li>
    </ul>
  </div>
      <h1>Making loans more personal, and less predatory</h1>
      <img src="/img/portfolio/vouch/intro.jpg" title="Vouch" alt="Vouch"/>
      <h2 data-section="intro" class="sans subhead">A financial safety-net held by those you trust</h2>
      <p>Sub-prime lending typically evokes negative imagery: there&rsquo;s a perpetual shadow of <a href="https://en.wikipedia.org/wiki/Subprime_mortgage_crisis">The Big Short</a>, and predatory lending still runs rampant, keeping people in a cycle of ever-increasing debt.</p>
      <p>This made Vouch particularly refreshing: an honest approach to building a financial company that&rsquo;s designed to combat exploitation. By building a system of trust as an augment to the credit model, Vouch allowed for a whole new, previously underserved, community an opportunity to access low-cost credit.</p>
      <p>As a prospective borrower at Vouch, your application was augmented with the help of <em>sponsors</em>: trusted connections that back your credit worthiness by vouching for you: socially, or monetarily. By adding a sponsor, <a href="https://www.youtube.com/watch?v=BBO1_XBrbzQ" target="_blank">everyone wins</a>: borrowers gain access to larger loan amounts, lower credit costs &amp; longer terms; Vouch gets additional safeguards against delinquency and fraud; and sponsors&hellip; well, they feel great about articulating their trust (also, over a third of all sponsors on Vouch come back and successfully apply for a loan themselves).</p>
      <img src="/img/portfolio/vouch/vouching.png" title="How Vouch Works" alt="How Vouch Works"/>
      <p>Building a system of trust that&rsquo;s decidedly different from the traditional lending experience made design at Vouch particularly challenging, and exciting. My role involved designing user experiences on the web, admin interfaces for underwriting, verification and other loan-ops, and continuous experimentation to boost metrics from a perspective of growth.</p>

      <h2 data-section="work" class="sans subhead">Designing for Growth</h2>

      <p>From a customer perspective, my role at Vouch was focused on growth. This was exciting in a number of ways — it provided great agency to go up and down the funnel as opportunities presented themselves, and allowed me to use and hone my faculties in design, development and data-science. Working on growth also allowed for a unique perspective: one which allowed me to focus on metrics and product minutiae, in addition to a holistic view of the lending experience.</p>

      <p>Here are some highlights from these experiments:</p>

      <h2 class="sans subhead">Loan Offer Upsells</h2>

      <img src="/img/portfolio/vouch/upsell_v2.png" title="Loan Upsells" alt="Loan Upsells"/>

      <p>Pretty early on at Vouch, we realized that most prospects (as many as 88%) usually received a much lower offer than requested. While this was a function of their deemed <em>credit worthiness</em>, we knew we could do better, and leveraged the concept of <strong>upsells</strong>: immediate improvements to loan offers by inviting someone as a sponsor.</p>
      <div class="tk-atrament-web stat-box">
        <h3>Offer Upsells: Key Stats</h3>
        <ul>
          <li>70% of users adopted new experience</li>
          <li>Network Engagement rose from 16% to 85%</li>
          <li>Sponsor invites rose from 0.17 to 1.5 per prospect</li>
        </ul>
      </div>
      <p>This came from an insight that the opportunitiy to include sponsors was separated from the loan itself, making it hard to recognize the benefits of sponsorship. The upsell was strictly opt-in, so prospects could choose what they wanted: a fast loan application, or a still-quick-yet-improved-offer.</p>

      <p>After a few internal iterations and private feedback sessions, upsells were released as a 50-50 split test across Vouch. 69% of all users exposed to the test (with 98% statistical significane) chose the upsell offer vs the base, increasing loan amounts and user satisfaction significantly. And since this required inviting sponsors, Vouch&rsquo;s key statistic of network engagement also rose: from 22.2% to 37.5%.</p>
      <img src="/img/portfolio/vouch/upsell_term_extension_v3.png" title="Loan Upsells with Term Extensions" alt="Loan Upsells with Term Extensions"/>
      <p>And while this was good, like any investigative process, we could do better. After running the data through Looker, we realized that the new offer wasn&rsquo;t performing well with prospects who requested low amounts to begin with: for them, the increase in loan amount was a little too much, and they chose to take the base offer instead.</p>
      <p>Also, after a few sessions of user feedback, we realized that we needed to add more clarity to the fact that requesting sponsors is really easy. This lead to a second iteration, which resulted in a clear, statistically significant uptick in upsells, and made it into the regular flow for all prospects.</p>
      <h2 class="sans subhead">CC: Email Transparency on Sponsor Invites</h2>
      <p>A recurring issue from incoming customer feedback, research and 1-1 sessions was the <em>awkwardness</em> of involving people in a loan application. Prospects were simply not comfortable with the idea of Vouch reaching out to someone about their loan. Clearly, this was a problem for a sponsor-first effort that Vouch was invested in.</p>
      <img src="/img/portfolio/vouch/cc_bob_v2.png" title="Cc Borrowers on Sponsor Invites" alt="Cc Borrowers on Sponsor Invites"/>
      <p>We had tried multiple ways to resolve this: a custom inviter that allowed users to write exactly what they wanted sponsors to read, allowing prospects to choose between different styles of invites, or even making the invites plain-text, to make it look like a regular email.</p>
      <div class="tk-atrament-web stat-box">
        <h3>Cc Sponsors: Key Stats</h3>
        <ul>
          <li>30% increase in monetary sponsors</li>
          <li>12% increase in invites sent</li>
        </ul>
      </div>
      <p>I approached the problem with a different idea: let the prospect take control of the communication. Since no one knows potential sponsors better than the inviter, we <em>copied them on each invite sent</em>, and clearly communicated this. The intention here, was to simulate placing inviter and prospective sponsor in a room, with an ice-breaker.</p>
      <p>The result was quite fascinating: Sponsor communications because a natural negotiation of sorts, instead of just another invite in your email that&rsquo;s archived. Ccing prospective borrowers on invites to their sponsors showed immediate results: especially around the speed of application - Sponsors were 30% more likely to commit a monetary value to their sponsorship, and invites themselves rose by 12%</p>
      <h2 data-section="experiments" class="sans subhead">Still Brewing</h2>
      <p>Here are a few experiments where the verdict was still out, but looking bright:</p>
      <img src="/img/portfolio/vouch/increment.png" title="Variable Upsell" alt="Variable Upsell"/>
      <p>The next iteration on loan offer upsells, where prospects can fine-tune the loan amount they would like to apply for. The idea tested here was to generate a window of potential for each prospect, and allow them to secure the terms they need at the expense of additional sponsors.</p>
      <img src="/img/portfolio/vouch/improve_offers.png" title="Improve Offer" alt="Improve Offer"/>
      <p>Front-loading sponsors clearly worked for Vouch, but not all credit enhancement needs to be before the offer. This experiment allowed prospects to bring new sponsors in after the Truth in Lending agreement, allowing for continuous enhancements, and a longer lifecycle for the customer.</p>

      <h2 data-section="admin" class="sans subhead">Designing for Operations</h2>

      <p>Traditional back-office software for lending, to put it mildly, <em>sucks</em>. We&rsquo;re reliant on antiquated services that require repetitive work, and no affordances of automation. Furthermore, since Vouch&rsquo;s methods for verification, underwriting and processing were unique, our software needed the same personalization. It&rsquo;s a refreshingly different challenge from work that&rsquo;s visible to the customer - admin interfaces are used for <em>thousands of hours each week</em>, and inefficiences can really get in the way of good work.</p>

      <img src="/img/portfolio/vouch/admin-1.png" width="50%" style="float:left" title="Vouch Styleguide" alt="Vouch Styleguide"/>
      <img src="/img/portfolio/vouch/admin-2.png" width="50%" title="Vouch Styleguide" alt="Vouch Styleguide"/>

      <p>Vouch&rsquo;s admin was designed to be modular, and based on components (something I&rsquo;ve done with my previous work at <a href="http://www.aayushis.in/#intro">Intro</a>). It&rsquo;s a unique challenge: UI that efficiently works with current data-sets but also keeps an eye on what&rsquo;s coming next. Redesigning every time a new feature is launched is painful, requires retraining and generally negates any gains that custom interfaces would give.</p>
      <p>I also helped implement parts of the Admin system, which was written in React (with Redux).</p>
      <img src="/img/portfolio/vouch/admin_redesign.png" title="Admin Redesign" alt="Admin Redesign"/>
      <p>To keep the aesthetic of Vouch in sync for users and operations alike, a comprehensive, yet intentionally liberal style-guide was maintained, allowing anyone to build templates that complied to our visual system and yet afforded for rapid development.</p>

      <img src="/img/portfolio/vouch/styleguide-1.png" width="50%" style="float:left" title="Vouch Styleguide" alt="Vouch Styleguide"/>
      <img src="/img/portfolio/vouch/styleguide-2.png" width="50%" title="Vouch Styleguide" alt="Vouch Styleguide"/>

      <h2 class="sans subhead">Built With</h2>
      <ul>
        <li>Sketch <span class="sans">{Design}</span></li>
        <li>Principle <span class="sans">{Prototyping}</span></li>
        <li>JavaScript, Backbone, CoffeeScript, React <span class="sans">{Front-End}</span></li>
        <li>Rails <span class="sans">{Back-End}</span></li>
        <li>Looker, Mixpanel <span class="sans">{Data}</span></li>
      </ul>
    </div>
