    <div data-portfolio="vwlive" class="inner">
        <!-- <span id="shadow"> -->
        <!-- </span> -->
        <div class="sans" id="close">
          <ul>
            <li data-id="intro">Introduction</li>
            <li data-id="technology">Technology</li>
            <li data-id="role">My Role</li>
            <li data-id="close"><a href="#">Close</a></li>
          </ul>
        </div>
      <h1>The Second Screen for Cricket</h1>
      <div class="recognition">
        <div class="award sans"><span>Bronze:</span> Best use of Branded Content, Goafest 2012</div>
      </div>
      <img src="/img/portfolio/live/live-header.png" title="Volkswagen LIVE: A Dynamic Visualization for Cricket" alt="Volkswagen LIVE: A Dynamic Visualization for Cricket"/>
      <p>In 2011, people were imagining the second-screen: a mythical intersection of technology and television. I had the chance to build it.</p>
      <h2 data-section="intro" class="sans subhead">Volkswagen LIVE: The State-of-The-Game, Visualized</h2>
      <p>When Volkswagen became the official sponsor for the <em>DLF IPL</em> - the biggest event in cricket, we merged technology and information design into a tasty peripheral for every sports fan. We did this to create an honest experience for the consumer, one that stays true to the brand's core value of innovation, and recognizes the many ways in which our audience consumes cricket: at work, on-the-go and at home.</p>
      <div class="embed">
        <iframe src="http://player.vimeo.com/video/28103199?byline=0&amp;portrait=0&amp;color=f03838" width="640" height="424" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
      <p>Available as a dynamic web app or wallpaper, the infographic displayed team scores, run-rate, projected scores, the time elapsed since the last boundary, and a host of other key match statistics.</p>
      <p>The visualization wasn't a one-way street though - since cricket fans love to rant, we integrated Twitter reactions and cherry-picked the best ones straight into the LIVE interface.</p>
      <p>Volkswagen LIVE was available on every screen that you could ask for: PC and dedicated Adobe AIR editions served the traditional desktop/laptop user while dynamic editions for the mobile user base were also available, which were served via QR codes on the interface. Volkswagen LIVE also debuted on the then brand-new Chrome Webstore, becoming a pioneer of sorts of true web apps.</p>
      <img src="/img/portfolio/live/live-mobile.png" title="Volkswagen LIVE on Mobile" alt="Volkswagen LIVE on Mobile"/>
      <h2 data-section="technology" class="sans subhead">The Technology {And how Cricket got it's own Minority Report}</h2>
      <p>Volkswagen LIVE utilized a live ball-by-ball feed to compute and generate visualizations on the fly. Every time a delivery was registered, each widget was recalculated, and the browser rendered animations for this instantly. The animation itself was designed accounting for different browsers and their unique quirks. This allowed us to progressively enhance the visual for advanced browsers (in case of which, Vector graphics were used to render the widgets) while allowing a usable experience for older browsers via a graceful CSS degradation.</p>
      <p>This responsive design was also made to account for Mobile users. Webkit (iPhone/iPad/Android) users received a custom stylesheet which enabled touch metaphors for Volkswagen LIVE, allowing them to swipe through widgets. The mobile edition also delivered a refined typographic set, that allowed for easy reading on small-screens (which is crucial for people viewing the interface on-the-go).</p>
      <p>Twitter reactions were curated by a custom Twitter engine that picked tweets based on popular, relevant topics (such as #ipl or #cricket).</p>
      <p>These tweets were further filtered based on social graph data which allowed us to calculate the popularity of the Tweet. This meant that the snippets of commentary displayed were always of high quality.</p>
      <h2 data-section="role" class="sans subhead">My Role</h2>
      <img src="/img/portfolio/live/live-prototype.jpg" title="Volkswagen LIVE's First Prototype" alt="Volkswagen LIVE's First Prototype"/>
      <p>I conceived the original idea for Volkswagen LIVE at my time with GREY Digital, Mumbai. After rendering the original prototype, I collaborated with my good friends at <a href="http://www.itsalive.in/">It's Alive</a> to bring the project to life. I lead the Creative Direction for the campaign, and oversaw it's execution to completion. The campaign was very well received, securing multiple award nominations and a few wins too.</p>
      <div class="embed">
        <iframe src="http://player.vimeo.com/video/28093560?byline=0&amp;portrait=0&amp;color=f03838" width="640" height="424" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
      <h2 class="sans subhead">Built With</h2>
      <ul>
        <li>Photoshop + Illustrator <span class="sans">{Design}</span></li>
        <li>Shout out to It's Alive for the technical execution of this campaign. Work done for GREY Mumbai <span class="sans">{Humans}</span></li>
      </ul>
      <p>Thanks for reading. As <em>Alain de Botton</em> recently said, the challenge for the next generation is to be more interesting than the phone.</p>
    </div>

