/* =============================================================================
   Box Sizing
   Apply a natural box layout model to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw/
   border-box polyfill for IE 6/7: https://github.com/Schepp/box-sizing-polyfill#readme
   ========================================================================== */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  *behavior: url(boxsizing.htc); }

body{
  margin: 0;
}

#main{
  width: 90%;
  margin: 0 auto;
}
.sans{
  font-weight: lighter !important;
}
#main > h1{
  width:58.33333333333333%;
  color: #2c3e50;
  font-size: 2.25em;
  line-height: 1;
  position: absolute;
  bottom: 10%;
}

#main > nav > ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 8%;
  list-style: none;
}

#main > nav > ul li {
  text-transform: uppercase;
  font-weight: bold;
  float:  left;
  margin-right: 30px;
}
a {
  text-decoration: none;
  color: #2c3e50;
}

a:hover{
  color: #F03838;
  text-decoration: underline;

}

#background {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}
#work{
  display: none;
}
#work > ol {
  font-size:  1.25em;
  font-weight: bold;
  list-style: none;
  position: absolute;
  top: 8%;
  padding: 0;
  line-height: 1.5;
}

#work a {
  text-transform: uppercase;
  font-style: italic;
  color: #F03838;
  font-size: 1.5em;
}

#detail{
  position:absolute;
  left: 5%;
  width:90%;
  margin-top: 1500px;
  background-color: white;
  display: block;
  box-shadow: 1px 1.732px 5px 0 rgba( 0, 0, 0,0.27 );
  -webkit-transition: margin-top 1s;
  /* transition: top 1s linear; */
}

#detail.show{
  display: block;
  margin-top: 60px !important;
}
.embed{
  margin: 0 auto;
  max-width: 640px;
  width: 100%;
}
.inner{
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.inner li {
  font-size: 1.5em;
}

#shadow {
  content: " ";
  width: 20px;
  height: 20px;
  background-color: #fde2e1;
  position: fixed;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 182px;
  z-index: -15;
  right: 58px;
}

#shadow:after {
  content: " "; 
  width: 20px; 
  height: 80px; 
  background-color: white; 
  position: fixed;   
  top: -22px; 
  z-index: 0; 
  right: 1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.inner p{
  font-size: 1.5em;
}

.inner img{
  max-width: 100%;
}

.subhead{
  text-transform: uppercase;
  font-style: italic;
  color: #F03838;
  /* width: 70%; */
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inner blockquote{
text-transform: none;
margin-left: 30px;
border-left: 5px #F03838 solid;
color: #2c3e50;
padding-left: 20px;
line-height: 1.3;
font-weight: lighter;
font-size: 1.5em;
font-style: italic;
}
blockquote span{
  color: #F03838;
  text-transform: uppercase;
  float: right;
}

.inner a {
    text-decoration: underline;
    color: #F03838;
}

li .sans {
    color:  #F03838;
    text-transform: uppercase;
    font-style: italic;
}

.award {
  font-size: 1.5em;
  padding: 10px 10px 10px 40px;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 5px;
  background: #fde2e1 url('../../img/award.png') 8px no-repeat;
  background: rgba(253,223,225,0.3) url('../../img/award.png') 8px no-repeat;
  background-size: 22px;
  text-transform: uppercase;
}
.award span {
  text-transform: uppercase;
}

#detail h1 {
  margin: 10px auto 5px auto;
}

#close {
  display: block;
  position: fixed;
  background-color: #F03838;
  padding: 5px;
  text-transform: uppercase;
  color: white;
  right: 5%;
  cursor: pointer;
  margin-right: -10px;
  margin-top: -20px;
}

#close ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#close a{
  text-decoration: none;
  color: white;
}

#close li:hover, #close a:hover{
  color: #2c3e50;
}

#close li{
  border-bottom: 1px dotted #f79e9c;
  margin-left: 0;
  cursor: pointer;
  padding-left: 10px;
  text-align: right;
  font-size:1.2em;
}
#close li:last-child{
  border-bottom: none;
  color: #2c3e50;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px)
and (max-width : 700px) {
  #main > h1{
    width: 90%;
    bottom: 13%;
    font-size: 1.5em;
  }
  #main > nav > ul > li{
    margin-right: 20px;
  }
  #main > nav > ul {
    bottom: 5%;
    font-size: 1.5em;
  }

  #work > ol{
    top: 0;
    font-size: 1em;
  }

  #work li{
    border-bottom: 1px solid #2c3e50;
  }

  #close{
    right: 0;
    top:0;
    width: 100%;
    margin: 0;
    padding: 10px 0 10px 0;
  }
  #close ul{
    display: block;
    width:90%;
    margin: 0 auto;
  }
  #close li{
    border:none;
    float: left;
    padding: 0;
    margin: 10px 20px 0 0;
  }
  #close li:last-child {
    float: right;
  }

  .inner p, .award, .inner li{
    font-size: 1.25em;
  }

  .subhead{
    font-size: 2.4em;
  }
  .inner blockquote{
    line-height: 1.2;
    margin-left: 10px;
    padding-left: 20px;
    font-size: 1.25em;
  }
  #detail h1 {
    margin: 5px auto 5px auto;
    line-height: 1.1;
  }
}

/* Smartphones (landscape) ----------- */
/* @media only screen  */
/* and (min-width : 321px) { */
/* Styles */
/* } */

/* Smartphones (portrait) ----------- */
/* @media only screen  */
/* and (max-width : 320px) { */
/* Styles */
/* } */

/* iPads (portrait and landscape) ----------- */
/* @media only screen  */
/* and (min-device-width : 768px)  */
/* and (max-device-width : 1024px) { */
/* Styles */
/* } */

/* iPads (landscape) ----------- */
/* @media only screen  */
/* and (min-device-width : 768px)  */
/* and (max-device-width : 1024px)  */
/* and (orientation : landscape) { */
/* Styles */
/* } */

/* iPads (portrait) ----------- */
/* @media only screen  */
/* and (min-device-width : 768px)  */
/* and (max-device-width : 1024px)  */
/* and (orientation : portrait) { */
/* Styles */
/* } */

/* Desktops and laptops ----------- */
/* @media only screen  */
/* and (min-width : 1224px) { */
/* Styles */
/* } */

/* Large screens ----------- */
/* @media only screen  */
/* and (min-width : 1824px) { */
/* Styles */
/* } */

/* iPhone 4 ----------- */
/* @media */
/* only screen and (-webkit-min-device-pixel-ratio : 1.5), */
/* only screen and (min-device-pixel-ratio : 1.5) { */
/* Styles */
/* } */
