/* =============================================================================
   Box Sizing
   Apply a natural box layout model to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw/
   border-box polyfill for IE 6/7: https://github.com/Schepp/box-sizing-polyfill#readme
   ========================================================================== */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;  *behavior: url(boxsizing.htc); }

#main{
  width: 90%;
  margin: 0 auto;
}
.sans{
  font-weight: lighter !important;
}
#main > h1{
  width:58.33333333333333%;
  color: #2c3e50;
  font-size: 2.25em;
  line-height: 1;
  position: absolute;
  bottom: 20%;
}

#main > nav > ul {
  display: inline-block;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 18%;
}

#main > nav > ul li {
  text-transform: uppercase;
  font-weight: bold;
  float:  left;
  margin-right: 30px;
}
a {
  text-decoration: none;
  color: #2c3e50;
}

a:hover{
  color: #F03838;
  text-decoration: underline;

}

#background {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}
#work{
  display: none;
}
#work > ol {
  font-size:  1.5em;
  font-weight: bold;
  list-style: none;
  position: absolute;
  top: 8%;
  padding: 0;
  line-height: 1.75;
}
#detail{
  position:absolute;
  left: 5%;
  width:90%;
  top: 1500px;
  background-color: white;
  display: none;
  box-shadow: 1px 1.732px 5px 0 rgba( 0, 0, 0,0.27 );
}
.inner{
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.inner img{
  max-width: 100%;
}

.subhead, .inner blockquote{
  text-transform: uppercase;
  font-style: italic;
  color: #F03838;
  width: 70%;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inner blockquote{
  text-transform: none;
  font-weight: bold;
  width: 60%;
  margin-left: 30px;
  border-left: 5px #2c3e50 solid;
  color: #2c3e50;
  padding-left: 10px;
  line-height: 1.1;
}

.inner a {
    text-decoration: underline;
    color: #F03838;
}

li .sans {
    color:  #F03838;
    text-transform: uppercase;
    font-style: italic;
}

.award {
  font-size: 1.5em;
  padding: 10px 10px 10px 40px;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 5px;
  background: #fde2e1 url('../../img/award.png') 8px no-repeat;
  background: rgba(253,223,225,0.3) url('../../img/award.png') 8px no-repeat;
  background-size: 22px;
  text-transform: uppercase;
}
.award span {
  text-transform: uppercase;
}

#detail h1 {
  margin: 10px auto 5px auto;
}

#close {
  display: block;
  position: fixed;
  background-color: #2c3e50;
  padding: 5px;
  text-transform: uppercase;
  color: white;
  right: 5%;
  cursor: pointer;
  margin-right: -10px;
}

#close ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#close li:hover{
  color: #F03838;
}

#close li{
  border-bottom: 1px dotted #f79e9c;
  margin-left: 0;
  cursor: pointer;
  padding-left: 10px;
  text-align: right;
  font-size:1.2em;

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px)
and (max-width : 700px) {
  #main > h1{
    width: 74.33333333%;
    bottom: 10%;
    font-size: 2em;
  }
  #main > nav > ul > li{
    margin-right: 70px;
  }
  #main > nav > ul {
    bottom: 5%;
    font-size: 1.5em;
  }
}

/* Smartphones (landscape) ----------- */
/* @media only screen  */
/* and (min-width : 321px) { */
/* Styles */
/* } */

/* Smartphones (portrait) ----------- */
/* @media only screen  */
/* and (max-width : 320px) { */
/* Styles */
/* } */

/* iPads (portrait and landscape) ----------- */
/* @media only screen  */
/* and (min-device-width : 768px)  */
/* and (max-device-width : 1024px) { */
/* Styles */
/* } */

/* iPads (landscape) ----------- */
/* @media only screen  */
/* and (min-device-width : 768px)  */
/* and (max-device-width : 1024px)  */
/* and (orientation : landscape) { */
/* Styles */
/* } */

/* iPads (portrait) ----------- */
/* @media only screen  */
/* and (min-device-width : 768px)  */
/* and (max-device-width : 1024px)  */
/* and (orientation : portrait) { */
/* Styles */
/* } */

/* Desktops and laptops ----------- */
/* @media only screen  */
/* and (min-width : 1224px) { */
/* Styles */
/* } */

/* Large screens ----------- */
/* @media only screen  */
/* and (min-width : 1824px) { */
/* Styles */
/* } */

/* iPhone 4 ----------- */
/* @media */
/* only screen and (-webkit-min-device-pixel-ratio : 1.5), */
/* only screen and (min-device-pixel-ratio : 1.5) { */
/* Styles */
/* } */
